body {
  margin: 0;
  font-family: monospace;
  background: #000;
  color: #eaffea;
}

.hidden {
  display: none;
}

/* LOGIN */
#login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#1e7f5c, #145a3a);
}

#loginBox {
  background: #111;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
}

button {
  background: #2ecc71;
  border: none;
  padding: 6px 14px;
  cursor: pointer;
  font-family: monospace;
}

/* PANEL */
#panel {
  height: 40px;
  background: #1b1b1b;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#menuBtn {
  background: #2ecc71;
  color: #000;
  padding: 5px 12px;
  border-radius: 4px;
  cursor: pointer;
}

/* WINDOWS */
.window {
  position: absolute;
  background: #111;
  border-radius: 6px;
  width: 640px;
  box-shadow: 0 0 10px #000;
}

.titlebar {
  background: #2ecc71;
  color: #000;
  padding: 5px;
  cursor: move;
  user-select: none;
}

.content {
  padding: 8px;
}

/* TERMINAL */
input {
  background: #000;
  color: #00ff00;
  border: none;
  width: 100%;
  outline: none;
  font-family: monospace;
}

/* MENU */
.menu {
  position: absolute;
  background: #111;
  top: 40px;
  left: 10px;
  padding: 10px;
  border-radius: 6px;
}

.menu div {
  cursor: pointer;
  padding: 5px;
}

.menu div:hover {
  background: #2ecc71;
  color: #000;
}
